@model BookMeetingRoom.Models.RegisterModel
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link href="~/Content/Home.css" rel="stylesheet" />
</head>
<body>
  @Html.Raw(ViewBag.Alert)
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #2a0157">
    @Html.ActionLink("Meeting Room Booking", "", "Home", new { }, new { @class = "navbar-brand" })    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto navbar-nav-scroll" style="max-height: 100px;">
        <li class="nav-item">
          @Html.ActionLink("Admin Login", "AdminLogin", "Account", new { }, new { @class = "btn btn-sm btn-outline-theme" })
        </li>
      </ul>

      <ul class="navbar-nav ml-auto navbar-nav-scroll" style="max-height: 100px;">
        <li class="nav-item mr-2">
          @Html.ActionLink("Client Login", "Login", "Account", new { }, new { @class = "btn btn-sm btn-outline-theme" })
        </li>
      </ul>
    </div>

  </nav>

  <section class="banner">
    <div class="container p-4">
      <div class="d-flex flex-wrap justify-content-between  align-items-center">

        <div>
          <div class="card" style="border-radius:0;padding:0px;width:25rem">
            <div class="card-header text-center" style="margin:0;">
              <h4 class="text-theme">Register Now</h4>
            </div>
            <div class="card-body">
              @using (Html.BeginForm())
              {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                  @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.FirstName) })
                  @Html.ValidationMessageFor(model => model.FirstName)
                </div>
                <div class="form-group">
                  @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.LastName) })
                  @Html.ValidationMessageFor(model => model.LastName)
                </div>
                <div class="form-group">
                  @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Email) })
                  @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="form-group">
                  @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Phone) })
                  @Html.ValidationMessageFor(model => model.Phone)
                </div>
                <div class="form-group">
                  @Html.TextBoxFor(model => model.Organization, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Organization) })
                  @Html.ValidationMessageFor(model => model.Organization)
                </div>
                <div class="form-group">
                  @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Password) })
                  @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="form-group">
                  @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.ConfirmPassword) })
                  @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
                <button type="submit" class="btn btn-outline-theme form-control">Register</button>
              }
            </div>
          </div>
        </div>

        <div class="text-center" style="width:40%">
          <h1 class="text-light">Meeting / Conference Room</h1>
          <h3 class="text-light">Book Professional Meeting Space</h3>
        </div>

      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
