@model BookMeetingRoom.Models.ViewModels.RoomDetailsVM
@{
  ViewBag.Title = "Room Details";
}

<div class="d-flex flex-row align-items-center justify-content-between">
  <h4 class="page-title">Room details</h4>
</div>
<div class="line"></div>

<div class="container">
  <div class="card">
    <div class="card-body room-details">
      <h3>@Model.RoomModel.Title</h3>

      <div class="d-flex justify-content-between align-items-center">
        <div class="room-details-image">
          <img src="~/Uploads/RoomImages/@Model.RoomModel.RoomImageFileName" alt="Room Image" style="">
        </div>

        <div class="room-details-content p-2">
          <div>
            <table class="table">
              <tr>
                <th>Capacity </th>
                <td style="width:70%">: @Model.RoomModel.Capacity Seaters</td>
              </tr>
              <tr>
                <th>Price </th>
                <td style="width:70%">: &dollar;@Model.RoomModel.Price</td>
              </tr>
              <tr>
                <th>Room Number </th>
                <td style="width:70%">: @Model.RoomModel.RoomNo</td>
              </tr>
              <tr>
                <th>Floor </th>
                <td style="width:70%">: @Model.RoomModel.Floor</td>
              </tr>
              <tr>
                <th>Building Name </th>
                <td style="width:70%">: @Model.RoomModel.BuildingName</td>
              </tr>
              <tr>
                <th>Location </th>
                <td style="width:70%">: @Model.RoomModel.Location</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="line"></div>

      <h3>Optional Services</h3>

      @using (Html.BeginForm())
      {
        @Html.HiddenFor(model => model.RoomModel.RoomId)
        @Html.HiddenFor(model => model.RoomModel.Title)
        @Html.HiddenFor(model => model.RoomModel.Price)


        for (int i = 0; i < Model.CategoryModels.Count(); i++)
        {
          <div class="category" style="margin-left:5%">
            <h5 style="padding:0 0;">@Model.CategoryModels[i].CategoryName</h5>
            <div style="width:80%;padding:0 3%;">
              <table class="table ">
                @for (int j = 0; j < Model.CategoryModels[i].ItemModels.Count(); j++)
                {
                  <tr>
                    <td style="width: 10%;">
                      <div class="form-check" style="margin-top:-10px;">
                        @Html.CheckBoxFor(m => m.CategoryModels[i].ItemModels[j].IsSelected, new { @class = "form-check-input" })
                        @Html.HiddenFor(m => m.CategoryModels[i].Id)
                        @Html.HiddenFor(m => m.CategoryModels[i].CategoryName)
                        @Html.HiddenFor(m => m.CategoryModels[i].ItemModels[j].ItemId)
                        @Html.HiddenFor(m => m.CategoryModels[i].ItemModels[j].ItemName)
                        @Html.HiddenFor(m => m.CategoryModels[i].ItemModels[j].Price)
                      </div>
                    </td>
                    <td style="width: 15%;">
                      @Html.TextBoxFor(m => m.CategoryModels[i].ItemModels[j].Quantity, new { type = "number", @class = "form-control form-control-sm", placeholder = "Quantity" })
                    </td>
                    <td style="width: 10%;">$ @Model.CategoryModels[i].ItemModels[j].Price</td>
                    <td style="">@Model.CategoryModels[i].ItemModels[j].ItemName</td>

                  </tr>

                }

              </table>
            </div>
          </div>
          <div class="line"></div>
        }

        <button type="submit" class="btn btn-success">Book Room</button>
        <button type="button" class="btn btn-warning" onclick="window.history.go(-1)">Back to search</button>

      }

    </div>
  </div>
</div>

